/* bootstrap overrides */
.legalweb-bs .breadcrumb
{
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 500 !important;
}

.legalweb-bs .card {
    padding: 0;
}
.legalweb-bs h4.card-title{
    margin-bottom: 0;
}

.legalweb-bs label {
    font-weight: 500 !important;
}

.legalweb-bs .custom-control-label {
    font-weight: 400 !important;
}

.legalweb-bs select
{
    max-width: initial;
}

.legalweb-bs li.nav-item:before {
    background: none !important;
}

.legalweb-imprint p{
    margin-top: 0px;
    margin-bottom: 0px;
}